/* index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  margin: 0 !important;
  padding: 0 !important;
  width: 100% !important;
  max-width: 100vw !important;
  overflow-x: hidden; /* Side scrolling khatam karne ke liye */
}

/* Kisi bhi default container ki restriction hatane ke liye */
.w-full {
  width: 100% !important;
}

@keyframes marquee {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

.animate-marquee {
  animation: marquee 20s linear infinite;
}

/* Jab mouse upar ho to animation ruk jaye (optional) */
.group:hover .animate-marquee {
  animation-play-state: paused;
}

@layer utilities {
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .animate-spin-slow {
    animation: spin 25s linear infinite !important;
  }

  .animate-spin-reverse {
    animation: spin 40s linear infinite reverse !important;
  }
}

@keyframes marquee-smooth {
  0% { transform: translateX(0%); }
  100% { transform: translateX(-50%); }
}

.animate-marquee-smooth {
  animation: marquee-smooth 25s linear infinite;
}

.group:hover .animate-marquee-smooth {
  animation-play-state: paused;
}
@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}



.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}